# Object files
objs/*.o
libft/*.o
ft_printf_fd/objs/*.o

# Cmake tmp files
*cmake*

# Debug folders
*.dSYM

# Vscode related stuff
.vscode

# Tmp files
*.res

#Executables
*.out
corewar
*.exe

# Folder
.DS_Store
